@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our course offering site</h1>
    <p>More info <a href="https://www.google.com/aclk?sa=L&ai=DChcSEwjXuYfBo4z1AhWWjmgJHfSoAAwYABACGgJ3Zg&ae=2&sig=AOD64_22_06oisDR_6khNqQhWh_Epqh3Hw&q&adurl&ved=2ahUKEwiA-YDBo4z1AhUP1RoKHUgCB_kQ0Qx6BAgEEAE">Visit our main Udemy site</a>.</p>


</div>

<h2 class="sechead">Why Udemy Lite ?</h2>

<p>Udemy Lite is a new site that is an extention fot the main site , which offers new courses in a new technical way </p>
<p>in which the offered courses are cheaper , well introduced , and well explained . We offer a broad selection of courses </p>
<p>such as follows :</p>
<ol>
    <li>
        Python
        <ul>
            <li class="litwo">Expand your career with Python</li>
            <li>
                Take of Udemy's range of Python courses and learn how to code using this incredibly useful language . Its simple syntax and readability makes Python perfect for flask ,  Django , data science , and machine learning . You'll learn how to build everything from games to sites to apps . Choose from a range of courses that will apeal to ...
            </li>
        </ul><br /><br />


    </li>

    <li>
        Data Science
        <ul>
            <li class="litwo">Lead data-driven decisions with Data Science</li>
            <li>Data Science application is an in-demand skill in many industries worldwide-including finance , transportation , education , manufacturing , human resourses, and banking .Explore data science courses with Python, statistics , machine learning , and more to grow your knowledge . Get Data science training if you're intp research , statistics ...</li>
        </ul><br /><br />
    </li>
    <li>
        Web Development
        <ul>
            <li class="litwo">Build websites and applications with Web Development</li>
            <li>The world of web development is as wide as the internal itself . Much of our social and vocational lives play out on the internet , which prompts new industries aimed at creating , managing , and debugging the websites and applications that we increasely rely on .</li>
        </ul><br />
        <ol>
            Web Development includes :
            <li>
                HTML
                <ul>
                    <li>Build responsive real world websites with Html </li>
                    <li>learn modern Html5 and web design by building a stunning website for your portfolio!</li>
                </ul>
            </li>

            <li>
                Css

                <ul>
                    <li>Advanced Css and Sass : flexbox , grid , animations and more </li>
                    <li>The most advanced and modern CSS source on the internet : master flexbox , CSS grid , responsive design ,and so much more </li>
                </ul>
            </li>
            <li>
                Java Script
                <ul>
                    <li>Grow your software development skills with JavaScript</li>
                    <li>JavaScript is a text-based computer programming language used to make dynamic web pages. A must-learn for aspiring web developers or programmers, JavaScript can be used for features like image carousels, displaying countdowns and timers, and playing media on a webpage. With JavaScript online classes, you can learn to build</li>
                </ul>
            </li>


        </ol>
        <br /><br />
    </li>

    <li>
        BootStrap
        <ul>
            <li class="litwo">BootStrap 5 Course : The Complete Guide (Step by Step)</li>
            <li>Build live Real-World projects with the Latest BootStrap 5 CSS Framework . Complete In-depth training on bootstrap 5</li>
        </ul><br /><br />


    </li>

    <li>
        DataBase

        <ul>
            <li class="litwo">Sql for beginners : Learn Sql using MYSQL and DataBase design  </li>
            <li>Understand sql using the MYSQL database . Learn database design and data analysis with normalization and relationships</li>

        </ul><br /><br />
    </li>


    <li>
        JQUERY
        <ul>
            <li class="litwo">Jquery crash course  : Learn the essentials of jquery fast </li>
            <li>Learn the essentials you will need to get started with jquery</li>

        </ul><br /><br />
    </li>


    <li>
        Java
        <ul>
            <li class="litwo">Java programming for complete beginners </li>
            <li>Java programming course for beginners to java object oriented programming </li>

        </ul><br /><br />
    </li>



    <li>
        C++
        <ul>
            <li class="litwo">Beginner C++ programming - From beginner to beyond</li>
            <li>Obtain modern C++ object oriented programming(OOP) and STL skills .</li>

        </ul><br /><br />
    </li>




    <li>
        PHP
        <ul>
            <li class="litwo">Php for beginners - Become a php master - CMS projects </li>
            <li> Learn everything you need to become a professional PHP developer with practical excercises and projects  </li>

        </ul><br /><br />
    </li>
</ol>


